
@font-face {
  font-family: 'absolute_pink';
  src: url('assets/absolute_pink_-_personal_use-webfont.woff2') format('woff2'),
       url('assets/absolute_pink_-_personal_use-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@-webkit-keyframes color-change {
  0% {
    color: #543a53;
  }
  25% {
    color: #315542;
  }
  50% {
    color: #20382c;
  }
  75% {
    color: #7f587c
  }
  100% {
    color: #543a53;
  }
}

@keyframes color-change {
  0% {
    color: #543a53;
  }
  25% {
    color: #315542;
  }
  50% {
    color: #20382c;
  }
  75% {
    color: #7f587c
  }
  100% {
    color: #543a53;
  }
}

@-webkit-keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes gone {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes gone {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes slide {
  0% {
    opacity: 1;
    background-image: url('assets/playa1.JPG');
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 1;
    background-image: url('assets/playa2.jpeg');
  }

  75% {
    opacity: 0;
  }

  100% {
    background-image: url('assets/playa3.jpeg');
    opacity: 1;
  }
}

@keyframes slide {
  0% {
    opacity: 1;
    background-image: url('assets/playa1.JPG');
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 1;
    background-image: url('assets/playa2.jpeg');
  }

  75% {
    opacity: 0;
  }

  100% {
    background-image: url('assets/playa3.jpeg');
    opacity: 1;
  }
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed, 
 figure, figcaption, footer, header, hgroup, 
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
 }
  /* Sections
     ========================================================================== */
  
  body {
    background: #fdfdfc; 
  }

  .hello {
    -webkit-animation: opacity 500ms cubic-bezier(0.47, 0, 0.745, 0.715) forwards;
            animation: opacity 500ms cubic-bezier(0.47, 0, 0.745, 0.715) forwards;
  }

  .bye {
    -webkit-animation: gone 200ms cubic-bezier(0.47, 0, 0.745, 0.715) forwards;
            animation: gone 200ms cubic-bezier(0.47, 0, 0.745, 0.715) forwards;
  }

  /**
   * Render the `main` element consistently in IE.
   */
  
  main {
    display: block;
    opacity: 0;
    margin-bottom: 75px;
  }

  main * {
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }

  .novios {
    word-spacing: 15px;
    letter-spacing: 15px;
  }

  .intro {
    padding: 60px 0 25px 0;
    width: 85%;
  }

  .intro .imagen {
    height: 275px;
    width: 275px;
    border-radius: 100%;
    background-image: url('assets/playa1.JPG');
    background-size: cover;
    -webkit-animation: slide 9s cubic-bezier(0.445, 0.05, 0.55, 0.95) alternate infinite;
            animation: slide 9s cubic-bezier(0.445, 0.05, 0.55, 0.95) alternate infinite;
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
            background-color: #fdfdfc;
            border: 1px solid transparent;
            transform: translateZ(0);
            -webkit-transform: translateZ(0);
            transform: translate3d(0,0,0);
            -webkit-backface-visibility: hidden;
  }

  .intro-text {
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 15px 35px 35px 35px;
    margin: 35px 0;
    width: 100%;
  }

  .intro-text:last-of-type {
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 100%;
  }

  .intro-text h2 {
    font-family: 'absolute_pink';
    font-size: 6em;
    opacity: .9;
  }

  #lugar, #fiesta, #regalo {
    padding-top: 1.5rem;
  }

  .intro-text p {
    font-family: 'Sanchez';
    font-size: 1.3em;
    opacity: .8;
  }

  .intro-text .p-up {
    font-size: 1.25em;
  }

  .intro-text img {
    width: 35px;
  }

  .fecha {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    font-family: 'Fjalla One', sans-serif !important;
    font-size: 2em;
    margin: 0;
  }

  .banco {
    font-family: 'Fjalla One', sans-serif !important;
    font-size: 1.5em;
    letter-spacing: 3px;
    padding: 10px;
  }

  .confirmar {
    -webkit-animation: color-change 2s linear infinite alternate;
            animation: color-change 2s linear infinite alternate;
    height: 75px;
  }

  .nombres {
    margin: 0 1.5em;
  }

  .borde-foto {
    height: 350px;
    position: absolute;
  }

  footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 75px;
    -webkit-box-shadow: 3px 2px 15px rgba(32,32,30,0.1);
            box-shadow: 3px 2px 15px rgba(32,32,30,0.1);
    z-index: 500;
    background: #fafaf0;
    color: #6a4968;
    opacity: 0;}
.footer {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
    font-family: 'Sanchez';}
.footer img {
    height: 50px;
    width: auto;
    margin: -5px 0;
    opacity: .65;}
.footer h5 {letter-spacing: 15px;}
  
  /**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
  
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  
  /* Grouping content
     ========================================================================== */
  
  /**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
  
  hr {
    -webkit-box-sizing: content-box;
            box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
  }
  
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  
  pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  /* Text-level semantics
     ========================================================================== */
  
  /**
   * Remove the gray background on active links in IE 10.
   */
  
  a:hover, a:focus, a:active, a:-webkit-any-link {
    background-color: transparent;
    outline: none;
    text-decoration: none;
    color: inherit;
    -webkit-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }
  
  a:hover, a:focus, a:active, a:-moz-any-link {
    background-color: transparent;
    outline: none;
    text-decoration: none;
    color: inherit;
    -webkit-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }
  
  a:hover, a:focus, a:active, a:any-link {
    background-color: transparent;
    outline: none;
    text-decoration: none;
    color: inherit;
    -webkit-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }

  a:hover {
    color: #ad3f1d;
  }

  /**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
  
  b,
  strong {
    font-weight: bolder;
  }
  
  /* Embedded content
     ========================================================================== */
  
  /**
   * Remove the border on images inside links in IE 10.
   */
  
  img {
    border-style: none;
  }
  
  /* Misc
     ========================================================================== */

  /**
   * Add the correct display in IE 10.
   */
  
  [hidden] {
    display: none;
  }

  .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }

  @media screen and (max-width:1024px) {
    .intro-text img {
      width: 30px;
    }

    .intro-text h2 {
      font-size: 5em;
      margin: 15px;
    }

    .footer img {
      height: 35px;
    }

    .footer h5 {
      letter-spacing: 10px;
    }

    .intro-text {
      padding: 8px;
      margin: 35px 0 0 0;
    }

    div.intro-text:first-of-type {
      margin: 30px 0 !important;
    }

    .intro-text h2 {
      font-size: 4em;
      margin: 15px;
      margin: 0;
    }

    .intro-text p, .intro-text .p-up {
      font-size: 1.15em;
    }

    .footer h5 {
      letter-spacing: 2px;
    }

    .footer img {
      height: 25px;
      margin: 0 !important;
    }

    .nombres {
      margin: 0 10px;
    }

    h2.noselect.confirmar {
      height:65px;
      font-size: 3.5em;
      margin: 0;
    }

    .footer img {
      display: none;
    }
    
    .fecha {
      font-size: 1.7em;
    }
  }

  @media screen and (max-width:440px) {
    .intro-text p {
      font-size: 1.1em;
    }
    .intro-text .p-up {
      font-size: 1.1em;
    }
    .fecha {
      font-size: 1.5em !important;
    }
    .container {
      padding: 0;
    }
    .intro .imagen {
      height: 230px;
      width: 230px; 
    }
    .borde-foto {
      height: 292px;
    }
    .intro-text {
      -webkit-box-shadow: none;
              box-shadow: none;
      margin: 0;
    }
    .intro-text h2 {
      margin: 10px 0;
    }
    .intro-text p {
      font-size: .9em;
    }
    .intro-text .p-up {
      font-size: .9em;
    }

    h2.noselect.confirmar {
      font-size: 3em;
    }
    #loader img {
      height: 50% !important;
    }
  }

