@font-face {
    font-family: 'absolute_pink';
    src: url('assets/absolute_pink_-_personal_use-webfont.woff2') format('woff2'), url('assets/absolute_pink_-_personal_use-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@-webkit-keyframes slide {
    0% {
        opacity: 1;
        background-image: url('assets/playa1.JPG');
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        background-image: url('assets/playa2.jpeg');
    }
    75% {
        opacity: 0;
    }
    100% {
        background-image: url('assets/playa3.jpeg');
        opacity: 1;
    }
}

@keyframes slide {
    0% {
        opacity: 1;
        background-image: url('assets/playa1-edit.JPG');
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        background-image: url('assets/playa2.jpeg');
    }
    75% {
        opacity: 0;
    }
    100% {
        background-image: url('assets/playa3.jpeg');
        opacity: 1;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */


/* Document==========================================================================*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* Sections==========================================================================*/

body {
    background: #fdfdfc;
}

.hello {
    -webkit-animation: opacity 500ms cubic-bezier(0.47, 0, 0.745, 0.715) forwards;
    animation: opacity 500ms cubic-bezier(0.47, 0, 0.745, 0.715) forwards;
}

.bye {
    -webkit-animation: gone 500ms cubic-bezier(0.47, 0, 0.745, 0.715) forwards !important;
    animation: gone 500ms cubic-bezier(0.47, 0, 0.745, 0.715) forwards !important;
}


/** * Render the `main` element consistently in IE. */

main {
    display: block;
    opacity: 0;
}

.divisor {
    height: 50px;
    width: 50%;
}

.novios {
    word-spacing: 15px;
    letter-spacing: 15px;
}

.wrapper {
    height: 100vh;
}

.intro {
    padding: 50px 0 35px 0;
    width: 85%;
    /* position: fixed;
    top: 0;
    overflow: hidden;
    background: #fdfdfc;
    z-index: 5; */
}

.intro .imagen {
    height: 250px;
    width: 250px;
    border-radius: 100%;
    background-image: url('assets/playa1-edit.JPG');
    background-size: cover;
    background-position: center;
    -webkit-animation: slide 9s cubic-bezier(0.445, 0.05, 0.55, 0.95) alternate infinite;
    animation: slide 9s cubic-bezier(0.445, 0.05, 0.55, 0.95) alternate infinite;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
    background-color: #fdfdfc;
    border: 1px solid transparent;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
}

.intro-text {
    width: 100%;
    height: 100vh;
}

#first {
    height: 50%;
    margin-bottom: 3.5rem;
}

.intro-text:last-of-type {
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 100%;
}

.intro-text h2 {
    font-family: 'absolute_pink';
    font-size: 6em;
    opacity: .9;
}

.intro-text p {
    font-family: 'Sanchez';
    font-size: 1.3em;
    opacity: .8;
}

.intro-text .p-up {
    font-size: 1.25em;
}

.intro-text img {
    width: 35px;
}

.clock {
    font-family: 'Fjalla One', sans-serif;
    align-self: center;
    color: #fdfdfc;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
    font-size: .6em;
    position: absolute;
    opacity: 0;
    padding: 25px;
    width: 100%;
    background: rgba(29,29,29,.2);
}

.btn {
    align-self: flex-end;
    font-family: 'Fjalla One', sans-serif;
    color: #292929;
    background-color: #fdfdfc;
    opacity: 0;
    width: 200px;
}

.btn * {
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translate3d(0, 0, 0);
}

.btn:hover {
    background-color: #68848a;
    color: #fdfdfc;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.btn:focus {
    box-shadow: none;
}

.btn-next {
    align-self: center;
    font-family: 'Fjalla One', sans-serif;
    background-color: #68848a;
    color: #fdfdfc;
    padding: 15px;
    width: 200px;
    border-radius: 4px 4px 0 0;
    position: relative;
}

.reverse {
    border-radius: 0 0 4px 4px;
}

.btn-next i {
    font-size: .7em;
}

.fas .fa-angle-double-up {
    font-size: 1.5em;
}

#button-to-top {
    padding: 18px;
}

.fecha {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    font-family: 'Fjalla One', sans-serif !important;
    font-size: 2em;
    margin: 0;
}

.banco {
    font-family: 'Fjalla One', sans-serif !important;
    font-size: 1.5em;
    letter-spacing: 3px;
    padding: 10px;
}

.confirmar {
    height: 75px;
}

.nombres {
    margin: 0 1.5em;
}

.borde-foto {
    height: 315px;
    position: absolute;
    animation: rotate 60s linear forwards infinite;
}

.guita {
    padding: 0 15px;
}

.intro-text .detalle-guita {
    font-size: .9em;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 0px;
    -webkit-box-shadow: 3px 2px 15px rgba(32, 32, 30, 0.1);
    box-shadow: 3px 2px 15px rgba(32, 32, 30, 0.1);
    z-index: 500;
    background: #fafaf0;
    color: #6a4968;
    opacity: 0;
}

.footer {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    font-family: 'Sanchez';
}

.footer h5 {
    font-size: 1.16rem;
}

.personajes {
    position: absolute;
    padding: 0 55px 0 20px;
    height: 0px;
}

.personajes img {
    width: 185px;
}

.personajes img:last-of-type {
    width: 140px;
}


/** * Correct the font size and margin on `h1` elements within `section` and * `article` contexts in Chrome, Firefox, and Safari. */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}


/* Grouping content==========================================================================*/


/** * 1. Add the correct box sizing in Firefox. * 2. Show the overflow in Edge and IE. */

hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */
}


/** * 1. Correct the inheritance and scaling of font size in all browsers. * 2. Correct the odd `em` font sizing in all browsers. */

pre {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}


/* Text-level semantics==========================================================================*/


/** * Remove the gray background on active links in IE 10. */

a:hover,
a:focus,
a:active,
a:-webkit-any-link {
    background-color: transparent;
    outline: none;
    text-decoration: none;
    color: inherit;
    -webkit-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

a:hover,
a:focus,
a:active,
a:-moz-any-link {
    background-color: transparent;
    outline: none;
    text-decoration: none;
    color: inherit;
    -webkit-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

a:hover,
a:focus,
a:active,
a:any-link {
    background-color: transparent;
    outline: none;
    text-decoration: none;
    color: inherit;
    -webkit-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}


/** * Add the correct font weight in Chrome, Edge, and Safari. */

.fas {
    margin: 5px;
}

b,
strong {
    font-weight: bolder;
}


/* Embedded content==========================================================================*/


/** * Remove the border on images inside links in IE 10. */

img {
    border-style: none;
}


/* Misc==========================================================================*/


/** * Add the correct display in IE 10. */

[hidden] {
    display: none;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */
}

@media screen and (max-width:1024px) {
    .intro-text img {
        width: 30px;
    }
    .footer h5 {
        letter-spacing: 10px;
    }
    .intro-text h2 {
        font-size: 4em;
        margin: 0;
    }
    .intro-text p,
    .intro-text .p-up {
        font-size: 1.15em;
    }
    .nombres {
        margin: 0 10px;
    }
    h2.noselect.confirmar {
        height: 65px;
        font-size: 3.5em;
    }
    .fecha {
        font-size: 1.7em;
    }
}

@media screen and (max-width:920px) {
    .wrapper {
        /* height: calc(var(--vh, 1vh) * 100); */
        height: 90vh;
    }
    .personajes img {
        width: 100px;
    }
    .personajes img:last-of-type {
        width: 75px;
    }
}

@media screen and (max-width: 640px) {
    .personajes {
        padding: 0 25px;
    }
    .personajes img {
        width: 75px;
    }
    .personajes img:last-of-type {
        width: 60px;
        margin-right: 15px;
    }
}

@media screen and (max-width:468px) {
    .personajes {
        padding: 0;
    }
    .intro-text p {
        font-size: 1.1em;
    }
    .intro-text .p-up {
        font-size: 1.1em;
    }
    .fecha {
        font-size: 1.5em !important;
    }
    .container {
        padding: 0;
    }
    .intro .imagen {
        height: 230px;
        width: 230px;
    }
    .borde-foto {
        height: 292px;
    }
    .intro-text {
        -webkit-box-shadow: none;
        box-shadow: none;
        margin: 0;
    }
    .intro-text p {
        font-size: .9em;
    }
    .intro-text .p-up {
        font-size: .9em;
    }
    h2.noselect.confirmar {
        font-size: 3em;
    }
    .container {
        margin-bottom: 150px;
    }
    .intro-text .detalle-guita {
        font-size: .6em;
    }
}

@media screen and (max-width:376px) {
    .fas {
        margin: 0;
    }
    #footer {
        height: 0;
    }
    .intro {
        padding: 35px 0
    }
    .intro .imagen {
        height: 175px;
        width: 175px;
    }
    .borde-foto {
        height: 223px;
    }
    div.intro-text:first-of-type {
        margin-top: 0 !important;
    }
}